noscript {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  z-index: 1919810;
  text-align: center;
  padding: 0.8em;
  font-size: 3em;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
}
