.content.teams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
  justify-content: center;
  background: var(--bg-color);
  font-size: 15px;
  .item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background: var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s, box-shadow 0.2s;
    font-size: 1rem;
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
    section {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p {
        text-align: center;
        margin: 0.6em 0;
        padding: 0 16px;
        strong {
          font-size: 1.4em;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .content.teams {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 480px) {
  .content.teams {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    font-size: 14px;
  }
}
