{{ if .Site.Params.postmeta.enabled }}
<div class="post-meta">
  <span><i class="fas fa-user-pen"></i> 编辑者: {{ if .Params.author }}{{ if
    reflect.IsSlice .Params.author }}{{ delimit .Params.author ", " }}{{ else
    }}{{ .Params.author }}{{ end }}{{ else }}{{ .Site.Params.defaultAuthor }}{{
    end }}</span>{{ with .Date }} |
  <span><i class="fas fa-calendar-alt"></i> 发表于: <time datetime="{{ .Format "2006-01-02T15:04:05-07:00" }}">{{ .Format
      "06.01.02 15:04:05 T-07:00" }}</time></span>
  {{ end }} {{ with .Lastmod }} |
  <span><i class="fas fa-history"></i> 更新于: <time datetime="{{ .Format "2006-01-02T15:04:05-07:00" }}">{{ .Format
      "06.01.02 15:04:05 T-07:00" }}</time></span>
  {{ end }} |
  <span><i class="fas fa-file-word"></i> 总字数: {{ .Plain | htmlUnescape |
    strings.RuneCount }}</span>
  |
  <span><i class="fas fa-clock"></i> 阅读时长: {{ div (div (.Plain | htmlUnescape |
    strings.RuneCount) 2) 60 }} 分钟</span>
</div>
{{ end }}