<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "loader.html" . }}
  {{ partial "ageVerification.html" . }}
  <noscript>请启用 JavaScript</noscript>
  <div class="swup-parallel">
    <main id="swup" class="transition-fade">{{ block "main" . }}{{ end }}</main>
    {{ partial "qr.html" . }}
  </div>
  <div class="nav-overlay" id="navOverlay"></div>
  <header class="site-header">{{ partial "header.html" . }}</header>
  {{ partial "drawer.html" . }}
  <footer>{{ partial "footer.html" . }}</footer>
  {{ partial "scripts.html" . }}
</body>

</html>